extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 

    +alert-error(5000)

    h1(class="mb-4") Add New Products 

    form(
        enctype="multipart/form-data"
        action = `${prefixAdmin}/products/create`
        id = "form-create-product"
        method = "POST"
    )

        div(class = "form-group")
            label(for="title") Tieu De
            input(
                type = "text"
                class = "form-control"
                id = "title"
                name = "title"
            )
        div(class = "form-group")
            label(for = "desc") Mo Ta 
            textarea(
                class = "form-control"
                id = "desc"
                name = "description"
                row = "5"
            ) 
        div(class = "form-group")
            label(for = "price") Gia 
            input(
                type = "number"
                class = "form-control"
                id = "price"
                name = "price"
                value ="0"
                min ="0"
            )
        div(class = "form-group") 
            label(for = "discount") % Giam Gia 
            input(
                type = "number"
                class = "form-control"
                id = "discount"
                name = "discountPercentage"
                value ="0"
                min ="0"
            )
        div(class = "form-group") 
            label(for = "stock") So Luong 
            input(
                type = "number"
                class = "form-control"
                id = "stock"
                name = "stock"
                value ="0"
                min ="0"
            )
        div(
            class = "form-group"
            upload-image
        ) 
            label(for = "thumbnail") Anh  
            input(
                type = "file"
                class = "form-control-file"
                id = "thumbnail"
                name = "thumbnail"
                accept="image/*"
                upload-image-input
            )
            .image-container(style="position: relative; display: inline-block;")
                div(
                button-hidden-image
                style="position: absolute; top: 4px; right: -4px; padding-left: 290px; cursor: pointer; display:none; color:black"
                ) X
                img(
                    src=""
                    upload-image-preview
                    width="300px"
                    height="auto"
                    style="margin-top:16px; border:1px solid #ddd; padding: 15px; border-radius: 5px; display:none"
                )
        div(class = "form-group") 
            label(for = "position") Vi Tri
            input(
                type = "number"
                class = "form-control"
                id = "position"
                name = "position"
                placeholder = "Auto"
                min = "1"
            )
        div(class="form-group form-check form-check-inline")
            input(
                type = "radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked 
            )
            label(for="statusActive" class = "form-check-label") Active

        div(class="form-group form-check form-check-inline")
            input(
                type = "radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="instatus"
            )
            label(for="statusInActive" class = "form-check-label") Inactive 
        div(class = "form-group d-flex justify-content-between")
            button(
                type= "submit"
                class = "btn btn-primary"
            ) Add
            button(
                button-cancel
                class = "btn btn-primary"
                type="button"
            ) Cancel

